@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
  /*========== Colors ==========*/
  --primary-color: #fff;
  --secondary-color: #2f2f2f;
  --accent-color: #232323;

  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;

  --big-font-size-1: 48px;
  --normal-font-size-1: 30px;
  --small-font-size-1: 18px;
  --small-font-size-2: 15px;
  --small-font-size-3: 14px;

  /*========== Font weight ==========*/
  --font-thin: 100;
  --font-light: 300;
  --font-regular: 400;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  /*========== modal ==========*/
  --minwidth: 320px;
  --mw: 1170px;
  --md1: var(--mw) + 12px;
  --md2: 991.98px;
  --md3: 767.98px;
  --md4: 479.98px;
}

/*==================== BASE ====================*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  line-height: 1;
  font-family: var(--body-font);
  font-size: var(--small-font-size-1);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: var(--font-regular);
}

a,
a:visited {
  color: var(--secondary-color);
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h2 {
  text-transform: uppercase;
}

/*==================== LAYOUT ====================*/
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/*==================== HEADER ====================*/
.header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: rgba(0, 0, 0);
}

/*==================== NAV ====================*/
.nav {
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
}

.nav__menu {
  position: fixed;
  right: -100%;
  top: 0;
  width: 35%;
  height: 100%;
  background-color: var(--secondary-color);
  transition: all 1s ease 0s;
}

.nav__logo,
.nav__toggle {
  color: var(--primary-color);
  cursor: pointer;
}

.nav__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nav__link {
  display: flex;
  font-size: var(--normal-font-size-1);
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: var(--font-light);
  opacity: 1;
}

.nav__link:hover {
  opacity: 0.8;
}

.nav__link > span {
  padding: 15px 20px;
}

.nav__link > span::after {
  content: '';
  display: block;
  width: 50%;
  height: 1px;
  border-radius: 5px;
  opacity: 1;

  background-color: #fff;

  position: relative;
  top: 100%;
  left: 0;
  margin: 0 auto;
  z-index: var(--z-tooltip);

  transition: all 0.5s ease;
}

.nav__link > span:hover::after {
  width: 100%;
}

.nav__close {
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: var(--normal-font-size-1);
  cursor: pointer;
  color: var(--primary-color);
  z-index: var(--z-fixed);
  transition: all 0.5s linear;
}

.nav__close:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* show menu */
.show-menu {
  right: 0;
}

/*==================== MAIN ====================*/
.main {
  flex: 1 1 auto;
}

/*==================== PREVIEW ====================*/
.preview {
  height: 100vh;
  position: relative;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.preview__background {
  width: 100%;
  position: absolute;
  top: 10%;
  left: 0;
  height: 500px;
  background-color: #f7ab0a;
  transform: skewY(160deg);
  z-index: -1;
}

.preview__button {
  display: inline-flex;
  background-color: #e74c3c;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 40px;
  border-radius: 50px;
  margin-top: 36px;
  transition: all 0.2s linear;
}

.preview__button:hover {
  background-color: #f85542;
}

/*==================== INFO ====================*/
.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.info__title {
  margin-top: 36px;
  margin-bottom: 36px;
}

.info__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.info__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.info__list > dt {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.info__avatar {
  display: flex;
  border-radius: 20px;
}

/*==================== STUDY ====================*/
.study {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.study__title {
  margin-top: 36px;
  margin-bottom: 36px;
}

.study__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.study__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.study__list > li {
  margin-top: 10px;
}

/*==================== ABOUT ====================*/
.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.about__title {
  margin-top: 36px;
  margin-bottom: 36px;
}

.about__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*==================== FOOTER ====================*/
.footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161e2a;
  color: #fff;
}
